html {
    scroll-behavior: smooth;
}
.text-overlay {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}
section:hover .text-overlay {
    opacity: 1;
    transform: translateY(0);
}
